.dropdown {
  position: relative;
}

.dropdown:hover .options {
  display: block;
}

.options {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: lightgray;
}

.options>div:hover {
  background-color: gray;
}